<div id="article_cards" class="row">
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <% @articles.each do |article| %>
      <li>
        <img src="<%= article.image_url %>">
        <h4 class-title><%= article.title %></h4>
        <p class="post-author">By <%= article.user.name %> on <%= article.created_at.to_date %></p>
        <p><%= shorten(article.body) %>...</p>
        <%= link_to "read on", article %>
      </li>
    <% end %>
  </ul>
</div>




