<div class="row">

  <div class="large-8 columns">
    <p id="notice"><%= notice %></p>

    <h2>Articles</h2>

    <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Body</th>
        <th>Author</th>
        <th>Published?</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= link_to article.created_at.to_date %></td>
          <td><%= link_to article.title, article %></td>
          <td><%= article.body %></td>
          <td><%= article.user.name if article.user.present? %></td>
          <td id="status"><%= article.published? ? "Published" : "Unpublished" %>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <br>
    <% if user_signed_in? %>
      <% if current_user.editor? || current_user.author? %>
        <%= link_to 'New Article', new_article_path, class: 'button' %>
      <% end %>
    <% end %>
  </div>
</div>
