<div class="row">

  <div class="large-8 columns">

    <p id="notice"><%= notice %></p>

    <p id="title">
      <strong>Title:</strong>
      <%= @article.title %>
    </p>

    <p id="image">
      <img src="<%= @article.image_url %>">
    </p>

    <p id="author">
      <strong>Author:</strong>
      <%= @article.user.name %>
    </p>

    <p id="article_body">
      <strong>Body:</strong>
      <%= @article.body %>
    </p>

    <% if user_signed_in? %>
      <% if policy(@article).update? %>
        <p>
        <%= @article.published? ? "Status: Published" : "Status: Unpublished" %>
        </p>
        <%= link_to 'Edit', edit_article_path(@article) %>
      <% end %>
      <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } if policy(@article).destroy? %>
    <% end %>

    <%= link_to 'Back', articles_path %>
  </div>
</div>
