<div class="row">

  <div class="large-8 columns">

  <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p id="author">
  <strong>Author:</strong>
  <%= @article.user.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <strong>
  <%= @article.published? ? "Status: Published" : "Status: Unpublished" %>
  </strong>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</div>
</div>
