<div class="row">
  <div class="large-8 columns">
    <h3 id="title"><%= @article.title %></h3>

    <p id="image">
      <img src="<%= @article.image_url %>">
    </p>

    <p id="author">
      <strong>by </strong>
      <%= @article.user.name %>
    </p>

    <p id="article_body">
      <%= @article.body %>
    </p>

    <section id="editor_link_articles">
      <% if user_signed_in? && policy(@article).update?%>
        <p>
        <%= @article.published? ? "Status: Published" : "Status: Unpublished" %>
        </p>
        <%= link_to 'Edit', edit_article_path(@article) %>
        <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } if policy(@article).destroy? %>
      <% end %>
    </section>

    <% if @article.comments.count > 0 %>
      <div class="row">
        <div class="large-8  small-12 columns">
          <!-- COMMENT -->
          <div class="comment">
            <h4 id="comment_header">Here Be Comments:</h4>
            <% @article.comments.each do |comment| %>
              <% if comment.published %>
                <h6 class="byline"><%= comment.username %>
                <small>said at: <%= comment.created_at %></small></h6>
                <section class="content">
                <p><%= comment.content %></p>
                </section>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% if policy(@article.comments).update? %>
    <%= link_to "Editors, edit or approve comments", article_comments_path(@article) %>
    <% end %>

    <h4 id="new_comment_header">Add a new comment:</h4>
    <%= link_to 'New comment', new_article_comment_path(@article), class: "button"%>
    <hr>
    <%= link_to 'Back to articles', articles_path %>
  </div>
</div>
