<div id='about' class='large-8 columns'>
  <h1><%= t('.title') %></h1>
  <p><%= t('.blurb') %></p>
  <ul id='about-bullets'>
    <%= t('.bullets_html') %>
  </ul>
</div>

<div id='testimonials' class='large-8 columns'>
  <h1><%= t('.testimonials') %></h1>
  <%= t('.testimonial_html') %>
</div>
