<div class='row'>
  <div class='large-12 columns'>
    <h1><%= @project.name %></h1>

    <% if @project.image.attached? %>
      <%= image_tag @project.image %>
    <% elsif @project.image_url.present? %>
      <img src='<%= @project.image_url %>'</a>
    <% end %>

    <ul>
      <% if @project.url.present? %>
        <li><%= t('.app_link')%> <a href='<%= @project.url %>'><%= @project.url %></a> </li>
      <% end %>
      <% if @project.github.present? %>
        <li><%= t('.github_link')%> <a href='<%= @project.github %>'><%= @project.github %></a> </li>
      <% end %>
      <% if @project.writeup.present? %>
        <li><%= t('.writeup_link')%> <a href='<%= @project.writeup %>'><%= @project.writeup %></a> </li>
      <% end %>
    </ul>

    <h2><%= t('.description')%></h2>
    <p><%= @project.description %> </p>

    <h3><%= t('.details')%></h3>
    <p><%= @project.technologies_used %></p>

    <% if current_user && current_user.admin? %>
      <%= link_to t('edit'), edit_project_path(@project) %>
    <% end %>
  </div>
</div>
