<div id="portfolio" class="row">
  <h2>Portfolio</h2>
  <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
    <% @projects.each do |project| %>

    <li>
      <a href="<%= project.url %>">
      <img src="<%= asset_path('project.image_url')%>" height="50"></a>
      <h3><%= project.name %></h3>
      <p> <%= project.description %></p>
      <% if current_user && current_user.admin? %>
      <p> <%= link_to 'Edit', edit_project_path(project) %>
      <p> <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
    <% end %>

  </ul>
  <% if current_user && current_user.admin? %>
  <%= link_to 'New Project', new_project_path, class: 'button' %>
  <% end %>
  </div>
</div>
