<div class="row">

  <div class="large-8 columns">
    <p id="notice"><%= notice %></p>

    <h2>Project Posts</h2>

    <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Technologies Used</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= link_to project.name, project %></td>
          <td><%= project.technologies_used %></td>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
    <br>
    <%= link_to 'New Project', new_project_path, class: 'button' %>
  </div>
</div>
