<div class="row">

  <div class="large-8 columns">

  <p id="notice"><%= notice %></p>

  <h1><%= @project.name %></h1>

<img src="<%= @project.image_url %>">

<p>
<ul>
  <li>Link to app: <a href='<%= @project.url %>'><%= @project.url %></a> </li>
  <li>Link to github: <a href='<%= @project.github %>'><%= @project.github %></a> </li>
  <li>Link to write-up: <a href='<%= @project.writeup %>'><%= @project.github %></a> </li>
</ul>

  <h2>Description:</h2>
  <p><%= @project.description %>
</p>

  <h3>Technologies used:</h3>
<p>
  <%= @project.technologies_used %>
</p>

  <% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_project_path(@project), class: 'button' %>
  <% end %>
  <%= link_to 'Back', projects_path, class: 'button' %>
  </div>
</div>
