<div class="row">

  <div class="large-8 columns">

  <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.name %>
</p>

<img src="<%= @project.image_url %>">

<p>Link to github: <%= @project.github %> </p>
<p>Link to site: <%= @project.url %> </p>
<p>Link to write-up: <%= @project.writeup %> </p>

<p>
  <strong>Technologies used:</strong>
  <%= @project.technologies_used %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
  </div>
</div>
