<div id='contact' class='large-8 columns'>
  <h2><%= t('contact.title')%></h2>
  <a href=<%= t('contact.email_link')%>><%= t('contact.email')%></a><br>
  <a href=<%= t('contact.twitter_link')%>><%= t('contact.twitter')%></a><br>
  <a href=<%= t('contact.linkedin_link')%>><%= t('contact.linkedin')%></a><br>
  <a href=<%= t('contact.github_link')%>><%= t('contact.github')%></a>
</div>
