<div class="row">
  <div class="large-12 columns">
    <hr/>
    <h4>Meta</h4>
      <% if user_signed_in? %>
        <p>logged in as <%= current_user.email %> |
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %> | <%= link_to 'Log in', new_user_session_path %> | <%= link_to 'Log in with Twitter', user_omniauth_authorize_path(:twitter) %> | <%= link_to 'Log in with Github', user_omniauth_authorize_path(:github) %>
      <% end %>
  </div>
</div>
