<div id='navbar' class='hero'>
  <div class='nav-bar right'>
    <ul id='navlinks'>
      <li><a href='/about'> <%= t('navbar.about')%> </a></li>
      <li><a href='/projects'> <%= t('navbar.portfolio')%> </a></li>
      <li><a href='/blog'> <%= t('navbar.blog')%> </a></li>
      <li><a href='/resume'> <%= t('navbar.resume')%> </a></li>
      <li><a href='/news'> <%= t('navbar.news')%> </a></li>
    </ul>
  </div>
</div>
