<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/meta' %>
  </head>

  <body>

  <%= render 'layouts/navbar' %>
  <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <%= yield %>

  <%= render 'layouts/contact' %>
  <%= render 'layouts/footer' %>

  </body>
</html>
