<!DOCTYPE html>
<html lang='en'>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Mary Dickson Diaz - Portfolio' %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Cambay:400,700' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <p class='notice'><%= notice %></p>
    <p class='alert'><%= alert %></p>
    <%= yield %>
    <%= render 'layouts/contact' %>
    <%= render 'layouts/login' %>
    <%= render 'layouts/footer' %>
  </body>
</html>
