<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/meta' %>
  </head>

  <body>

<div class="row">
  <div class="large-12 columns">
  <%= render 'layouts/navbar' %>
  <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
</div>
</div>
<div class="row">
  <%= yield %>
</div>
  <%= render 'layouts/contact' %>
  <%= render 'layouts/login' %>
  <%= render 'layouts/footer' %>

  </body>
</html>
